@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: rgba(255, 255, 255, 1);
  --primary: rgba(254, 44, 85, 1);
  --black: #000;
  --text-color: #333;

  //Default layout
  --default-layout-header-height: 60px;
  --default-layout-content-header-width: 1150px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a [href] {
  color: var(--text-color);
  text-decoration: none;
}

.mr-2 {
  margin-right: 4px;
}

.ml-2 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 8px;
}

.ml-4 {
  margin-left: 8px;
}

.mt-2 {
  margin-top: 4px;
}

.mb-2 {
  margin-bottom: 4px;
}

.mt-4 {
  margin-top: 8px;
}

.mb-4 {
  margin-bottom: 8px;
}
