@import 'normalize.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'ProximaNova', sans-serif;
}

:root {
  --white: rgba(255, 255, 255, 1);
  --primary: rgba(254, 44, 85, 1);
  --black: #000;
  --text-color: #333;

  //Default layout
  --default-layout-header-height: 60px;
  --default-layout-content-header-width: 1150px;
  --thirty-two-px: 32px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'ProximaNova', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

// scrollbar css
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

// Fonts
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: SofiaPro;
  src: url('/assets/fonts/sofiapro-bold.woff');
  font-weight: 700;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.mr-2 {
  margin-right: 4px;
}

.ml-2 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 8px;
}

.ml-4 {
  margin-left: 8px;
}

.mt-2 {
  margin-top: 4px;
}

.mb-2 {
  margin-bottom: 4px;
}

.mt-4 {
  margin-top: 8px;
}

.mb-4 {
  margin-bottom: 8px;
}

.size-icon {
  width: 20px;
  height: 20px;
}

// Custom tippy tooltip
.tippy-box {
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: rgba(84, 84, 84, 0.92);
  color: rgb(255, 255, 255);
  padding: 2px 0px;
}

.tippy-arrow {
  color: rgba(84, 84, 84, 0.92);
}
